@font-face {
  font-family: "iconfont"; /* Project id 3691791 */
  src: url('//at.alicdn.com/t/c/font_3691791_x91c85vnao.woff2?t=1665226278049') format('woff2'),
       url('//at.alicdn.com/t/c/font_3691791_x91c85vnao.woff?t=1665226278049') format('woff'),
       url('//at.alicdn.com/t/c/font_3691791_x91c85vnao.ttf?t=1665226278049') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: "\e60d";
}